.st-emotion-cache-j5r0tf.e1f1d6gn3 {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #3a3937;
}

.st-emotion-cache-16txtl3.eczjsme4 {
    background-color: #3a3937;
}

.diagnosis {
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.diagnosis.benign {
    background-color: #01db55
}

.diagnosis.malicious {
    background-color: #ff4b4b
}